* {
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  font-size: 10px;
}
body {
  font-weight: 400;
  padding: 0;
  background-color: rgba(0, 162, 255, 0.521);
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  background-color: sandybrown;
}
h1 {
  margin: 0 auto;
  padding: 5%;
  font-size: 4rem;
  border-bottom: solid 1px gray;
}
.accordeon {
  display: flex;
  justify-content: center;
  padding: 5% 0;
}
.accordeon__image {
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}
input[type='radio']:checked .accordeon__image {
  max-height: 30vh;
  transition: max-height 0.6s ease-in-out;
}
.accordeon__item {
  width: 100vh;
  font-size: 1.6rem;
  overflow: hidden;
}
.accordeon__item:hover .accordeon__image {
  max-height: 30vh;
  transition: max-height 0.6s ease-in-out;
}
img {
  height: 30vh;
}
/* input[type='radio'] {
  display: none;
} */
input[type="radio"]:checked + label + .accordeon__image {
  max-height: 30vh;
}